<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/add" class="nav-link">Add Student</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/view" class="nav-link">View Student</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>